<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,">
    <link rel="stylesheet" href="/css/styles-carrito.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header id="myHeader">
        <section class="lateral-header">
            <img class="Logo" src="images/5.png" alt="Logo">
            <!-- <div class="nft-barra-busqueda">
                    <p class="nft-p-header">NFT</p> 
                    <section class = "barra-busqueda-icono"> 
                        <i class="fa-solid fa-magnifying-glass" id = "icono-lupa"></i>
                        <input class = "barra-busqueda" placeholder="Buscar coleccionables y colecciones" type="text"></input>            
                    </section>
                </div> -->
            <!--SOLO PARA VERSIÓN MOBILE-->
            <div class="caja-flex-mobile">


                <ul class="primera-lista-mobile">

                    <li><a class="opciones-lista" href="tiendas-oficiales.html">Ingresa</a></li>
                    <li><a class="opciones-lista" href="vender.html">Registrate</a></li>
                    <li>
                        <div class="burger-menu-mobile">
                            <i class="fas fa-bars"></i>
                    </li>
                </ul>


                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Buscar colecciones">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <!--SOLO PARA VERSIÓN MOBILE-->
            <div class="nft-barra-busqueda">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Buscar colecciones">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <div class="navbar">
                <!--SOLO VERSIÓN 1024PX TABLET HORIZONTAL Y ESCRITORIOS NORMALES -->
                <ul class="version-escritorio-normal-Marketplace">
                    <li><a href=".html">Marketplace</a></li>
                </ul>
                <ul class="primera-lista">
                    <li><a href=".html">Marketplace</a></li>
                    <li><a href="tiendas-oficiales.html">Drops</a></li>
                    <li><a href="vender.html">Marcas</a></li>
                    <li><a href="ayuda.html">Crear</a></i></li>
                </ul>
                <ul class="segunda-lista">
                    <li id="hola"> <a href="/register.html">Conectarse</a></li>
                    <li><a href="/login.html">Registrarse</a></li>
                </ul>
                <!--SOLO VERSIÓN 1024PX TABLET HORIZONTAL Y ESCRITORIOS NORMALES -->
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <!-- <ul class="tercer-lista">
                                    <li id="hola"><a href="/register.html">Español</a></li>
                                </ul> -->
            </div>

        </section>
    </header>
    <main>
        <section class="descripcion">
            <h1>Tu carrito</h1>
            <div class="espacio">
                <h3 class="total">Total</h3>
                <input type="number" name="cantidad-de-producto" id="cantidad-de-producto"
                    style="width: 60%; height:2rem">
            </div>
        </section>
        <article class="contenedor">
            <section class="robot-seccion">
                <div class="img-robot">
                    <img class="tamaño-robot" src="images/robot-nft.png" alt="imagen-producto-robot">
                </div>
                <div class="compra-descripcion">
                    <p class="descripcion-robot">
                        Robot NFT. Buy this amazing robot NFT,
                        and you will count with his
                        crazy noises at your home</p>
                </div>
                <div>
                    <p class="precio-robot">$ 1000</p>
                </div>
            </section>

            <div class="contgrid">
                <div class="producto">
                    <div class="imagen">
                        <img class="img" src="images/spider.png" alt="imagen-producto-comprado">
                    </div>

                    <div class="compra-descripcion">
                        <p class="oracion"> The Spider NFT. Buy this amazing spider NFT, and you will count with his
                            willness at your home</p>
                        <p class="precio">$ 1300</p>

                        <section class="pago">
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-brands fa-cc-paypal"></i>


                        </section>
                        <section class="botones">

                            <section class="boton-compra">
                                <button type="button" class="addcart" style="height: 40px; width: 100px;">Buy</button>
                            </section>
                            <section class="boton-seguir">
                                <button type="menu" class="seguir-comprando">Continue Shopping</button>
                            </section>
                        </section>

                    </div>


                </div>
            </div>
        </article>

    </main>

    <footer>
        <div class="fondoNegro">
            <div class="cajaLogoIconos">
                <img class="imgFooter" src="images/logoFooter.png" alt="Logo">
                <ul type="none">
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa-brands fa-square-youtube"></i></a></li>
                    <li><a href="https://twitter.com/home?lang=es"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://ar.pinterest.com/"><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="navegadores">
                <ul type="none">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">Drops</a></li>
                </ul>
            </div>
            <div class="navegadores">
                <ul type="none">
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Crear</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="cajaMailDerechos">
                <form action="#" method="post">
                    <label for="correo"></label>
                    <input type="email" name="email" id="correo" placeholder="Buscar en la web..." required>
                    <button class="footerButton" type="submit">Go</button>
                </form>
                <p>Copyright 2022. All Rights Reserved</p>
            </div>
        </div>

        <div class="fondoNegroCelular">
            <div class="celularFormulario">
                <form action="#" method="post">
                    <label for="correo"></label>
                    <input type="email" name="email" id="correo" placeholder="Update in your inbox..." required>
                    <button class="footerButton" type="submit">Go</button>
                </form>
            </div>
            <div class="navegadoresCelular">
                <div class="navegadores">
                    <ul type="none">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Marketplace</a></li>
                        <li><a href="#">Drops</a></li>
                    </ul>
                </div>
                <div class="navegadores">
                    <ul type="none">
                        <li><a href="#">Marcas</a></li>
                        <li><a href="#">Crear</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="iconosCelular">
                <ul type="none">
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa-brands fa-square-youtube"></i></a></li>
                    <li><a href="https://twitter.com/home?lang=es"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://ar.pinterest.com/"><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <img src="/images/logoFooter.png" alt="Logo" class="logo-footer">
            <p>Copyright 2022. All Rights Reserved</p>
        </div>
    </footer>

</body>

</html>